/*
MEDIA QUERIES
*/

@media all and (min-width: 2000px) {

  body { 
    margin: 0 0 0 240px; 
  }
  header { 
    width: 240px; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
  }
  header h1 a { 
    font-size: 40px; 
    float: left; 
    padding: 5px 5px; 
    font-weight: 700; 
    text-decoration: none; 
    outline: none; 
    color: #aaa; 
  }
  header h1 a:hover, header h1 a:focus { 
    color: #fff; 
    background-color: #555; 
  }
  header h1 a span { 
    font-weight: 300; 
    font-family: Roboto-Light; 
    font-size: 56px; 
  }
  section h2 { 
    font-size: 40px; 
    font-family: Roboto-Light;
    font-weight: lighter; 
    padding: 80px 14%; 
    color: #888;  
  }
  section h2 span {  
    font-family: Roboto-Medium;
    font-weight: normal; 
  }
  .box figure { 
    background-size: 80px; 
    height:160px; 
    width: 160px; 
  }
}


@media all and (max-width: 1999px) {

  body { 
    margin: 0 0 0 240px; 
  }
  header { 
    width: 240px; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
  }
  header h1 a { 
    font-size: 40px; 
    float: left; 
    padding: 5px 15px 5px 15px; 
    font-weight: 700; 
    text-decoration: none; 
    outline: none; 
    color: #aaa;
  }
  header h1 a:hover, header h1 a:focus { 
    color: #fff; 
    background-color: #555; 
  }
  header h1 a span { 
    font-weight: 300; 
    font-family: Roboto-Light; 
    font-size: 56px; 
  }
  section h2 {
    font-size: 40px;
    font-family: Roboto-Light;
    font-weight: lighter;
    padding: 80px 14%;
    color: #888;
  }
  section h2 span {
    font-family: Roboto-Medium;
    font-weight: normal;
  }
  .box figure { 
    background-size: 64px; 
    height: 140px; 
    width: 140px; 
  }
}


@media all and (max-width: 900px) {

  body { 
    margin: 60px 0 0 0; 
  }
  header { 
    width: auto; 
    height: 60px; 
    position: fixed; 
    right: 0; 
  }
  header h1 a, header h1 a span { 
    color: #fff;
    font-size: 34px;
    padding-top: 7px;
    padding-bottom: 8px;
  }
  section h2 {
  font-size: 34px;
  padding: 40px 2%;
  }
  .box figure { 
    background-size: 48px 48px; 
    height: 120px; 
    width: 120px; 
  }
  #logo { 
    display: none; 
  }

  /* — — — MENU — — — MENU — — — */
  header nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 240px;
    background: #fff;
    overflow-x: auto;
    z-index: 2;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
  header ul.list-auto {
    padding: 0;
  }
  header ul.list-auto li {
    width: 100%;
  }
  header li a {
    padding: 15px 10px;
  }
  header li a:hover {
    background-color: #ccc;
  }
  .control-nav {
    position: absolute;
    right: 20px;
    top: 20px;
    display: block;
    width: 24px;
    padding: 6px 0;
    border: solid #fff;
    border-width: 2px 0;
    z-index: 2; 
    cursor: pointer;
    background-color: transparent;
  }
  .control-nav:before {
    content: "";
    display: block;
    height: 2px;
    background: #fff;
  }
  .control-nav-close {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    z-index: 1;
    background: rgba(0,0,0,0.3);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
  input#control-nav {
    display: block;
  }
  input#control-nav:focus ~ .control-nav {
    border-color: #000;
    box-shadow: 0px 0px 9px rgba(0,0,0,0.3);
  }
  input#control-nav:focus ~ .control-nav:before {
    background: #000;
  }
  input#control-nav:checked ~ nav,
  input#control-nav:checked ~ .control-nav-close {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  /* — — — MENU — — — MENU — — — */
}


@media all and (max-width: 500px) {

  .box { 
    width:50%; 
  }
  header h1 a, header h1 a span { 
    font-size: 22px;
    padding: 16px 0px 13px 10px; 
  }
  section h2 {
    font-size: 24px;
    padding: 40px 2%;
  }
}


/*
NAV
*/

.nav-list, .nav-list li { 
	width: 100%; 
	float: left; 
	display: block; 
	position: relative; 
}
header nav { 
	float: right;
	background-color: #444;
}
header ul {
  padding: 32px 0;
  background-color: transparent;
}
header li a {
  display: block;
  text-align: left;
  width: 200px;
  outline: none;
  padding: 0 0 0 40px;
  color: #aaa;
  font-size: 16px;
  line-height: 48px;
  font-family: Roboto-Regular;
  font-weight: lighter;
  text-decoration: none;
}
header li a:hover, header li a:focus {
  color: #fff;
  background-color: #555;
}
input#control-nav {
  visibility: hidden;
  position: absolute;
  left: -9999px;
  opacity: 0;
}
.active-page {
  color: #fff;
  text-transform: uppercase;
}

/*
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
*/


* {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: transparent;
}


::selection { color: #fff; background: #555; }

body {
	font-family: Roboto, Arial, sans-serif;
	color: #666;
	background-color: #f5f5f5;
}
header {
	background-color: #444;
	z-index: 2;
	text-align: center;
}
section, footer { 
	position: relative;
	float: top; 
	padding: 4% 2%;
	height: auto; 
	width: 96%;
	background-color: #fff;
	text-align: center;
}

/*
BACKGROUND
*/

.bg-gray {
	background-color: #eaeaea;
}
.bg-white {
	background-color: #ffffff;
}
.bg-img-boll {
  background-image: url('file:///C:/Users/lucas_000/OneDrive/Images/Wallpapers/mc%20(16).jpg');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/*
TEXT
*/

h3 {
	font-size: 20px;
	font-family: Roboto-Light;
	font-weight: 300;
	padding: 20px 10%;
  text-align: justify;
}
h6 {
	font-size: 14px;
	font-weight: 400;
}
section a {
	color: #666;
	text-decoration: none;
}
section a:hover, section a:focus {
	color: #fff;
	background-color: #888;
}

/*
BOX ICON
*/

a.box {
	position: relative;
	display: inline-block;
	float: none;
	height: auto;
	width: auto;
	padding: 3px;
	margin: 6px;
	text-decoration: none;
	color: #fff;
	outline: none;
  background-color: rgba(68, 68, 68, 0.8);
  border: 1px solid rgba(68, 68, 68, 0.01);
}
a.box:hover { 
  background-color: #444;
  -webkit-transform:scale(0.9) translate(0, 0);
  -moz-transform:scale(0.9) translate(0, 0);
  -ms-transform:scale(0.9) translate(0, 0); 
  -o-transform:scale(0.9) translate(0, 0);
  transform:scale(0.9) translate(0, 0);
}
a.box:focus {
  background-color: #444;
  border: 1px solid #fff;
}
.box h1 {
  position: absolute;
	overflow: hidden;
	text-align: center;
	font-size: 16px;
	color: #fff;
	font-family: Roboto-Light;
	font-weight: lighter;
  width: auto;
	height: 26px;
	padding: 0 10px;
	bottom: 2px;
	background: transparent;
}
.box figure {
	display: block;
	background-repeat: no-repeat; 
	background-position: 50% 40%;
}