@import url('//fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root {
  font-size: 16px;
  --fullscreen: 52px;
}
*, *:after, *:before { margin: 0; padding: 0; box-sizing: border-box; }

html {
  scroll-behavior: smooth;
}

html, body, main {
  position: relative;
  height: 100%;
}
body {
  display: block;
  text-align: center;
  font-family: 'DM Sans', monospace;
  font-size: 0;
  background: #fff;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}
header .container {
  padding: 0 .75rem 0 1.75rem;
  background: #000;
}
/* .headroom--not-top {
  background: aqua;
  transition: transform .2s linear,background 1s ease,height .5s ease;
} */
.headroom {
  -webkit-transition:all .25s ease;
  -moz-transition:all .25s ease;
  -o-transition:all .25s ease;
  transition:all .25s ease;
}
.headroom--unpinned {
  -webkit-transform:translateY(-100%);
  -ms-transform:translateY(-100%);
  transform:translateY(-100%);
}

#logo {
  position: relative;
  float: left;
  padding: 0;
  font-size: 1.2rem;
  line-height: var(--fullscreen);
  color: #fff;
  z-index: 4;
}

header button {
  display: inline-block;
  position: relative;
  width: var(--fullscreen);
  height: var(--fullscreen);
  border: none;
  outline: none;
  font-size: 0;
  border-radius: 50%;
  background: transparent;
}
#menu {
  float: right;
  z-index: 9;
  padding-left: 1rem;
}
.hamburger {
  position: relative;
  width: 24px;
  height: 3px;
  background: #fff;
  transition: all .25s ease;
}
.hamburger:before, .hamburger:after {
  content: '';
  position: absolute;
  display: block;
  right: 0;
  width: 24px;
  height: 3px;
  background: #fff;
  z-index: 1;
  transition: all .25s ease;
}
.hamburger:before {
  top: -8px;
  width: 18px;
}
.hamburger:after {
  top: 8px;
  width: 12px;
}
#menu:hover .hamburger:before,
#menu:hover .hamburger:after {
  width: 24px;
}
#menu.open .hamburger {
  transform: rotate(45deg);
}
#menu.open .hamburger:before,
#menu.open .hamburger:after {
  top: 0;
  width: 24px;
  transform: rotate(90deg);
}
.layer {
  display: inline-block;
  background: transparent;
  top: 1.7rem;
  right: 1.7rem;
  width: 3px;
  height: 3px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 0 0 #000, 0 0 0 0 #000;
  transition: box-shadow .25s cubic-bezier(0.65, 0.05, 0.36, 1);
  z-index: 2;
 }
.layer-active {
   box-shadow: 0 0 0 100vw #000, 0 0 0 100vh #000;
}

.remove-scrollbar {
  overflow: hidden;
}

nav {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  z-index: 3;
  background: #000;
  /* transition: visibility .35s ease, opacity .35s ease; */
}
nav.open {
  visibility: visible;
  opacity: 1;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
nav li {
  text-align: center;
  padding: 0;
  font-size: 0;
}
nav a {
  position: relative;
  display: inline-block;
  margin: .5rem 0;
  color: #fff;
}
nav a:before {
  content: "";
  position: absolute;
  bottom: .15rem;
  width: 100%;
  height: 3px;
  background: transparent;
}
.active:before {
  background: #fff;
}
nav a:hover :before, nav a:focus :before {
  background: #fff;
}
nav li:last-child a:after {
  content: "";
  position: absolute;
  margin: 6px 0 0 6px;
  width: 10px;
  height: 10px;
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpolygon%20points%3D%2224%2019.53%2024%200%204.47%200%204.47%205.69%2014.3%205.67%200%2019.97%204.03%2024%2018.33%209.7%2018.31%2019.53%2024%2019.53%22%20style%3D%22fill%3A%23fff%22%2F%3E%3C%2Fsvg%3E');
}

section {
  position: relative;
  float: left;
  padding: 6rem 1.5rem 0;
  width: 100%;
}
.container {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  max-width: 1050px;
}
.fullscreen {
  display: table;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
}
.fullscreen-container {
  display: table-cell;
  vertical-align: middle;
  padding-top: var(--fullscreen);
}
.bg-gray {
  background: #eee;
  padding: 3.5rem 2.5rem 2.5rem;
  border-radius: 1rem;
}

a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}
a, button, input, textarea, .cards {
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -ms-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
}
button {
  cursor: pointer;
}

p, li, h1, h2, h3, h4 {
  color: #000;
}
p, ul {
  padding-bottom: 1.5rem;
}
ul {
  margin-left: 1.2rem;
}
p, li {
  font-weight: 400;
  line-height: 1.7;
}
li {
  padding: 0 0 .5rem .5rem;
}
p a, b, strong, .button, button, input[type="submit"] {
  font-family: 'DM Sans', monospace;
  font-weight: 700;
}
h1, h2, h3, h4 {
  font-family: 'DM Sans', monospace;
  font-weight: 700;
  padding-bottom: 2rem;
  line-height: normal;
}
h1 {
  font-size: 2.5rem;
}
h2, article h1 {
  font-size: 2rem;
}
h3, article h2, nav a {
  font-size: 1.4rem;
}
h4, article h3 {
  font-size: 1.25rem;
}

p, li, .button, input, textarea {
  font-size: 1rem;
}

p a, article a {
  border-bottom: 3px solid transparent;
}
p a:hover, p a:focus,
article a:hover, article a:focus {
  border-color: #000;
}

/* Articles */
article {
  position: relative;
  margin: 5.75rem auto 2rem;
  max-width: 650px;
}
article h2, article h3 {
  padding: 3rem 0 1.5rem 0;
}
article ol {
  list-style-type: decimal;
  padding: 1rem 2rem;
}
article ul {
  list-style-type: disc;
  padding: 0 0 28px 28px;
}
article li {
  padding: .5rem 0;
}
article blockquote {
  width: auto;
  float: none;
  display: block;
  border-left: 3px solid #000;
  padding: 1rem;
  margin: 0 auto 2rem;
  color: #666;
  font-style: italic;
}

/* Buttons */
.button {
  position: relative;
  float: left;
  margin: 1rem 0 0;
  padding: 0 1.5rem;
  line-height: 44px;
  color: #fff;
  background: #000;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
}
.button:hover, .button:focus {
  background: #eee;
  color: #000;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.05);
}

/* Helpers */
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.page {
  margin-top: 2rem;
}
.page h1 {
  max-width: 780px;
}
.page p {
  max-width: 680px;
}

#photo {
  float: none;
  display: inline-block;
  width: 120px;
  margin: 1.5rem auto;
  background-color: #f5f5f5;
  filter: grayscale(100%);
  border-radius: 50%;
}
.home h1, .home p {
  text-align: center;
  padding-bottom: 1.5rem;
}

.home .button {
  float: none;
  display: inline-block;
  margin: .5rem 0 2rem;
}

.block {
  float: none;
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.block-left {
  float: left;
 width: 35%;
 height: 100%;
 background: #111;
}
.block-right {
  float: left;
  width: 65%;
  height: 100%;
  padding: 0 5rem;
}
.block-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  list-style: none;
}
.block h1 {
  margin-bottom: 2rem;
}
.block p {
  font-size: 1.5rem;
  max-width: 550px;
  line-height: 1.5;
}
.block .button {
  width: max-content;
}

/* Box */
.box {
  max-width: 1050px;
  margin: 0 4rem;
  padding: 0;
  text-align: center;
}

.box .header {
  padding: 80px 60px;
}
.box .header h2,
.box .header p {
  color: #fff;
  text-align: center;
  margin: 0 auto;
}
.box .header p {
  font-size: 1.4rem;
  max-width: 600px;
  line-height: 1.4;
}
.box .header figure {
  width: 100%;
  margin: 0 auto 2.5rem;
}
.box .header svg {
  width: 80px;
  height: 80px;
}

.box .content {
  padding: 80px 60px;
}

.box .container {
  margin: 2rem 0
}

.box img {
  max-width: 100%;
  margin: 0 0 2rem;
}
.box .grid-image img {
  max-width: 50%;
}

.box .info {
  display: inline-block;
  margin: 0 0 2rem;
}
.box .info p {
  text-align: left;
}
.box .info div {
  float: left;
}

/* Cards */
.cards {
  float: left;
  margin-top: .5rem;
}
.cards a {
  position: relative;
  float: left;
  margin: 0 0 1.5rem 0;
  padding: 3rem;
  width: 100%;
  height: 328px;
  background: #eee;
  overflow: hidden;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  border-radius: 1rem;
}
.cards a:hover, .cards a:focus {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.05);
}
.cards a:hover figure, .cards a:focus figure {
  background: #fff;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.05);
}
.cards a:hover figure .svg, .cards a:focus figure .svg {
  fill: #000;
}
.cards h3 {
  padding-bottom: 1rem;
}
.cards p {
  color: #000;
  text-align: center;
  padding: 0;
}
.cards figure {
  display: flex;
  height: 6rem;
  width: 6rem;
  margin: 0 auto 1.5rem;
  justify-content: center;
  align-items: center;
  background: #000;
  border-radius: 1rem;
}
.cards svg {
  position: absolute;
  max-width: 3rem;
  max-height: 3rem;
}
.box svg .svg,
.cards svg .svg {
  fill: #fff;
}
/* .cards a:hover h3, .cards a:focus h3,
.cards a:hover p, .cards a:focus p {
  color: #fff;
} */


.fancybox-slide--html {
  padding: 0;
}
.fancybox-close-small {
  height: 60px;
  width: 60px;
  opacity: 1;
  margin: 16px;
}
.fancybox-slide--html .fancybox-close-small {
  color: #fff;
  padding: 10px;
}


/* gifs for warning pages */
.gif {
  height: 240px;
  width: 100%;
  float: left;
  margin: 0 0 2rem;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f5f5f5;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}

footer {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  padding: 3rem 3rem 1rem;
  width: 100%;
}
footer p {
  text-align: center;
}

/* Forms */
form {
  position: relative;
  display: inline-block;
  float: none;
  width: 100%;
  max-width: 700px;
  padding: 3rem 3rem;
  margin: 0;
  background: transparent;
  border-radius: 1rem;
}
label {
  font-size: 0;
  opacity: 0;
}
input, textarea {
  font-weight: 400;
  font-family: 'DM Sans', monospace;
  color: #000;
  float: left;
  width: 100%;
  padding: .582rem 0;
  margin: 0 0 2rem;
  line-height: 1.5;
  outline: none;
  border: none;
  border-radius: 0;
  border-bottom: 3px solid #000;
  background: transparent;
  -webkit-appearance: none;
}
textarea {
  resize: none;
  vertical-align: top;
  overflow: hidden;
}
input:focus, input:active,
textarea:focus, textarea:active {
  border-color: #fff;
}
input[type="submit"] {
  width: auto;
  -webkit-appearance: none;
}
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active {
  border: none;
  background-color: #fff;
}

::selection { background: #000; color: #fff; }

::-webkit-input-placeholder { color:#000; }
:-moz-placeholder { color: #000; opacity: 1; }
::-moz-placeholder { color: #000; opacity: 1; }
:-ms-input-placeholder { color: #000; }

/* social icons */
.icons {
  width: 100%;
  margin: 0 0 1rem;
}
.icons a {
  float: none;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 1rem;
  font-size: 0;
}
.icons a:hover .svg, .icons a:focus .svg {
  fill: #666;
}

/* colors */
.svg { fill: #000; }
.color-blue { background: #497aff; }
.color-red { background: #ff4771; }
.color-green { background: #2dec99; }
.color-yellow { background: #ffc930; }
.color-purple { background: #ba66ff; }
.color-aqua { background: #44ddf7; }
.color-orange { background: #ff7c4d; }
.color-marine { background: #28d4b2; }
.gray { background: #f5f5f5;}

.black { background: #000;}
.black h1, .black p {
  color: #fff;
}
.black .button {
  background: #fff;
  color: #000;
}
.black .svg, .black svg {
  fill: #fff;
}

.color-findto { background: linear-gradient(45deg,#3196ff 0,#9600ff 75%); }
.color-headlyne { background: linear-gradient(45deg,#ffdb0f 0, #ff6842 75%); }
.color-vydeon { background: linear-gradient(45deg,#ff51a1 0,#ff3737 75%); }
.color-educolab { background: linear-gradient(45deg,#10fcb2 0%,#11ce5c 75%); }
.color-zeyt { background: linear-gradient(45deg,rgba(246, 54, 255, 1) 0,rgba(144, 22, 255, 1) 75%); }
.color-cacba { background: #49b6f1; }
.color-nufen { background: #1abc9c; }
.color-nacuia { background: #650940; }
.color-radioufpa { background: #0089d8; }


/* animations */
/* header .container {
  -webkit-animation-name: down;
  animation-name: down;
  -webkit-animation-duration: 250ms;
  animation-duration: 250ms;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
} */
section .container {
  -webkit-animation-name: up;
  animation-name: up;
  -webkit-animation-duration: 350ms;
  animation-duration: 350ms;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

@-webkit-keyframes up {
  0% {
    -webkit-transform: translateY(-1rem);
    transform: translateY(-1rem);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
    opacity: 1;
  }
}
@keyframes up {
  0% {
    -webkit-transform: translateY(-1rem);
    transform: translateY(-1rem);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
    opacity: 1;
  }
}

@-webkit-keyframes down {
  0% {
    -webkit-transform: translateY(1rem);
    transform: translateY(-1rem);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes down {
  0% {
    -webkit-transform: translateY(1rem);
    transform: translateY(-1rem);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/* large phones ↗ */
@media only screen and (min-width: 520px) {

  #photo {
    width: 144px;
  }

  form input {
    width: 47%;
  }
  form input:nth-child(2) {
    margin-right: 6%;
  }

}

/* tablets ↗ */
@media only screen and (min-width: 800px) {

  header .container {
    padding: 0 1.75rem;
  }
  header button, .layer {
    display: none;
  }
  nav {
    position: relative;
    float: right;
    width: auto;
    opacity: 1;
    visibility: inherit;
    background: transparent;
  }
  nav ul {
    display: inline-block;
    height: auto;
  }
  nav li {
    display: inline-block;
  }
  nav a {
    margin: 0 0 0 3rem;
  }
  nav a:before {
    bottom: .9rem;
  }
  nav li:last-child {
   display: none;
  }
  #logo, nav a {
    line-height: var(--fullscreen);
  }

  h1 {
    font-size: 3.5rem;
  }
  h2, article h1 {
    font-size: 2.5rem;
    padding-bottom: 2.5rem;
  }
  h3, h4 {
    font-size: 1.5rem;
  }
  p, li, nav a, .button, input, textarea {
    font-size: 1.075rem;
  }

  section {
    padding: 5rem 5rem;
  }

  .col-left {
    float: left;
    width: 45%;
    margin-right: 10%;
  }
  .col-right {
    float: left;
    width: 45%;
  }

  .cards a {
    margin: 0 0 5% 0;
    width: 47.5%;
  }
  .cards a:nth-child(1) {
    width: 100%;
  }
  .cards a:nth-child(2),
  .cards a:nth-child(4),
  .cards a:nth-child(6),
  .cards a:nth-child(8),
  .cards a:nth-child(10) {
    margin: 0 5% 5% 0;
  }

  .info div {
    width: 50%;
  }
  .info div:first-child {
    padding-right: 3rem;
  }
  .info div:last-child {
    padding-top: 0;
  }

  .gif {
    height: 350px;
    width: 50%;
    float: right;
    margin-left: 3rem;
  }

}

/* desktops & laptops ↗ */
@media only screen and (min-width: 1200px) {

  body {
    background: #fff;
  }

}