/* PHOTO LOGO */

#photo-logo {
	background: transparent url('../images/l.jpg') no-repeat center;
	background-size: 144px;
 	height: 140px;
 	width: 140px;
 	margin: 44px 36px 32px 46px;
  	border: 2px solid #aaa;
  	border-radius: 100px;
}
#photo-logo:hover {
	border: 2px solid #fff;
}

/* BUTTONS */

.button-icon-search {background-image: url('../images/search.svg'); }
.button-icon-share {background-image: url('../images/share.svg'); }
.button-icon-tags {background-image: url('../images/tags.svg'); }
.button-icon-feed {background-image: url('../images/feed.svg'); }
.button-icon-add {background-image: url('../images/add_.svg'); }
.button-icon-mail {background-image: url('../images/mail.svg'); }
.button-icon-phone {background-image: url('../images/phone.svg'); }
.button-icon-profile {background-image: url('../images/profile.svg'); }
.button-icon-feedback {background-image: url('../images/feedback.svg'); }

/* BOX SOCIAL */

.facebook { background-image: url('../images/icons/facebook.svg'); }
.facebook:hover, .facebook:focus { background-image: url('../images/icons/facebook_.svg'); background-color: #3b579d; }
.twitter { background-image: url('../images/icons/twitter.svg'); }
.twitter:hover, .twitter:focus { background-image: url('../images/icons/twitter_.svg');  background-color: #00aced; }
.youtube { background-image: url('../images/icons/youtube.svg'); }
.youtube:hover, .youtube:focus { background-image: url('../images/icons/youtube_.svg'); background-color: #cd201f; }
.googleplus { background-image: url('../images/icons/googleplus.svg'); }
.googleplus:hover, .googleplus:focus { background-image: url('../images/icons/googleplus_.svg'); background-color: #dd4b39; }
.grooveshark { background-image: url('../images/icons/grooveshark.svg'); }
.grooveshark:hover, .grooveshark:focus { background-image: url('../images/icons/grooveshark_.svg'); background-color: #FF8300; }
.vine { background-image: url('../images/icons/vine.svg'); }
.vine:hover, .vine:focus { background-image: url('../images/icons/vine_.svg'); background-color: #00bf8f; }
.instagram { background-image: url('../images/icons/instagram.svg'); }
.instagram:hover, .instagram:focus { background-image: url('../images/icons/instagram_.svg'); background-color: #1c5380; }
.flickr { background-image: url('../images/icons/flickr.svg'); }
.flickr:hover, .flickr:focus { background-image: url('../images/icons/flickr_.svg'); background-color: #ff0084; }
.skype { background-image: url('../images/icons/skype.svg'); }
.skype:hover, .skype:focus { background-image: url('../images/icons/skype_.svg'); background-color: #00aff0; }
.spotify { background-image: url('../images/icons/spotify.svg'); }
.spotify:hover, .spotify:focus { background-image: url('../images/icons/spotify_.svg'); background-color: #2ebd59; }
.soundcloud { background-image: url('../images/icons/soundcloud.svg'); }
.soundcloud:hover, .soundcloud:focus { background-image: url('../images/icons/soundcloud_.svg'); background-color: #FF5500; }
.pinterest { background-image: url('../images/icons/pinterest.svg'); }
.pinterest:hover, .pinterest:focus { background-image: url('../images/icons/pinterest_.svg'); background-color: #cb2027; }
.xbox { background-image: url('../images/icons/xbox.svg'); }
.xbox:hover, .xbox:focus { background-image: url('../images/icons/xbox_.svg'); background-color: #107c10; }
.dribbble { background-image: url('../images/icons/dribbble.svg'); }
.dribbble:hover, .dribbble:focus { background-image: url('../images/icons/dribbble_.svg'); background-color: #ea4c89; }
.foursquare { background-image: url('../images/icons/foursquare.svg'); }
.foursquare:hover, .foursquare:focus { background-image: url('../images/icons/foursquare_.svg'); background-color: #0732a2; }
.linkedin { background-image: url('../images/icons/linkedin.svg'); }
.linkedin:hover, .linkedin:focus { background-image: url('../images/icons/linkedin_.svg'); background-color: #0073b2; }
.github { background-image: url('../images/icons/github.svg'); }
.github:hover, .github:focus { background-image: url('../images/icons/github_.svg'); background-color: #333333; }
.deviantart { background-image: url('../images/icons/deviantart.svg'); }
.deviantart:hover, .deviantart:focus { background-image: url('../images/icons/deviantart_.svg'); background-color: #05cc47; }
.snapchat { background-image: url('../images/icons/snapchat.svg'); }
.snapchat:hover, .snapchat:focus { background-image: url('../images/icons/snapchat_.svg'); background-color: #fffc00; }
.behance { background-image: url('../images/icons/behance.svg'); }
.behance:hover, .behance:focus { background-image: url('../images/icons/behance_.svg'); background-color: #1769ff; }
.twitch { background-image: url('../images/icons/twitch.svg'); }
.twitch:hover, .twitch:focus { background-image: url('../images/icons/twitch_.svg'); background-color: #6441A5; }
.vimeo { background-image: url('../images/icons/vimeo.svg'); }
.vimeo:hover, .vimeo:focus { background-image: url('../images/icons/vimeo_.svg'); background-color: #4bf; }
.slideshare { background-image: url('../images/icons/slideshare.svg'); }
.slideshare:hover, .slideshare:focus { background-image: url('../images/icons/slideshare_.svg'); background-color: #008ED2; }
.aboutme { background-image: url('../images/icons/aboutme.svg'); }
.aboutme:hover, .aboutme:focus { background-image: url('../images/icons/aboutme_.svg'); background-color: #007BB6; }
.stumbleupon { background-image: url('../images/icons/stumbleupon.svg'); }
.stumbleupon:hover, .stumbleupon:focus { background-image: url('../images/icons/stumbleupon_.svg'); background-color: #EB4924; }
.disqus { background-image: url('../images/icons/disqus.svg'); }
.disqus:hover, .disqus:focus { background-image: url('../images/icons/disqus_.svg'); background-color: #2e9fff; }
.myspace { background-image: url('../images/icons/myspace.svg'); }
.myspace:hover, .myspace:focus { background-image: url('../images/icons/myspace_.svg'); background-color: #333; }
.reddit { background-image: url('../images/icons/reddit.svg'); }
.reddit:hover, .reddit:focus { background-image: url('../images/icons/reddit_.svg'); background-color: #0079d3; }
.rdio { background-image: url('../images/icons/rdio.svg'); }
.rdio:hover, .rdio:focus { background-image: url('../images/icons/rdio_.svg'); background-color: #008fd5; }
.flipboard { background-image: url('../images/icons/flipboard.svg'); }
.flipboard:hover, .flipboard:focus { background-image: url('../images/icons/flipboard_.svg'); background-color: rgb(204, 0, 0); }
.codepen { background-image: url('../images/icons/codepen.svg'); }
.codepen:hover, .codepen:focus { background-image: url('../images/icons/codepen_.svg'); background-color: #222; }

/* BOX PROJECTS */

.vydeon { background-image: url('../images/projects/vydeon.svg'); }
.vydeon:hover, .vydeon:focus { background-image: url('../images/projects/vydeon_.svg'); }
.inblug { background-image: url('../images/projects/inblug.svg'); }
.inblug:hover, .inblug:focus { background-image: url('../images/projects/inblug_.svg'); }
.favss { background-image: url('../images/projects/favss.svg'); }
.favss:hover, .favss:focus { background-image: url('../images/projects/favss_.svg'); }
.appdow { background-image: url('../images/projects/appdow.svg'); }
.appdow:hover, .appdow:focus { background-image: url('../images/projects/appdow_.svg'); }
.tecscyfi { background-image: url('../images/projects/tecscyfi.svg'); }
.tecscyfi:hover, .tecscyfi:focus { background-image: url('../images/projects/tecscyfi_.svg'); }
.worlfeed { background-image: url('../images/projects/worlfeed.svg'); }
.worlfeed:hover, .worlfeed:focus { background-image: url('../images/projects/worlfeed_.svg'); }
.deslike { background-image: url('../images/projects/deslike.svg'); }
.deslike:hover, .deslike:focus { background-image: url('../images/projects/deslike_.svg'); }
.gamezun { background-image: url('../images/projects/gamezun.svg'); }
.gamezun:hover, .gamezun:focus { background-image: url('../images/projects/gamezun_.svg'); }
.muzyc { background-image: url('../images/projects/muzyc.svg'); }
.muzyc:hover, .muzyc:focus { background-image: url('../images/projects/muzyc_.svg'); }
.camram { background-image: url('../images/projects/camram.svg'); }
.camram:hover, .camram:focus { background-image: url('../images/projects/camram_.svg'); }
.localy { background-image: url('../images/projects/localy.svg'); }
.localy:hover, .localy:focus { background-image: url('../images/projects/localy_.svg'); }

/* BACKGROUNDS */

.green { background-color: #27ae60; }
.green-2 { background-color: #2ecc71; }
.blue { background-color: #3498db;}
.blue-2 { background-color: #2980b9; }
.red { background-color: red; }
.yellow { background-color: #f1c40f; }
.purple { background-color: rgba(181,0,191,1); }
.orange { background-color:#FF5C00; }
.pink { background-color:#ff0052; }
.gray { background-color: #666; }
