/* Fonts */

@font-face {
  font-family: 'Roboto-Light';
  font-weight: 300;
  src: url('../fonts/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Regular';
  font-weight: 400;
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Medium';
  font-weight: 500;
  src: url('../fonts/Roboto-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Nova-Regular';
  font-weight: 400;
  src: url('../fonts/proximanova-regular.woff') format('woff');
}
@font-face {
  font-family: 'Nova-Bold';
  font-weight: 700;
  src: url('../fonts/proximanova-bold.woff') format('woff');
}

/* Default Styles */

*, *:after, *:before {
  margin: 0;
	padding: 0;
	border: 0;
	background-color: transparent;
}
html, body {
  width: auto;
  height: 100%;
}
body {
  position: relative;
  display: block;
  margin: 0 0 0 260px;
  color: #555;
  font-family: 'Roboto-Regular', Arial, sans-serif;
  background-color: #eee;
}
header {
  position: fixed;
  width: 260px;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
	background-color: #fff;
	z-index: 2;
}
header a {
  display: inline-block;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  color: #aaa;
  background-color: transparent;
}
header a:hover, header a:focus {
  color: #444;
}
header h1 {
  font-size: 46px;
  font-family: 'Nova-Bold', 'Roboto-Medium', Arial, sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 0.8em;
  text-transform: uppercase;
}
header h1 span {
  font-size: 28px;
  letter-spacing: 4px;
}
header figure {
  background: transparent url(../images/l.jpg) no-repeat center;
  background-size: 96px;
  height: 96px;
  width: 96px;
  margin: 16px auto 26px;
  border-radius: 50%;
}

/* Navigation Menu */

header nav {
  position: relative;
  z-index: 3;
  background-color: transparent;
  padding: 10px 0;
}
header nav ul {
  display: block;
}
header nav li {
  display: inline-block;
  width: 100%;
}
header nav a {
  display: inline-block;
  width: 100%;
  padding: 16px 0;
  margin: 0;
  color: #aaa;
  font: 700 18px 'Nova-Bold', Arial, sans-serif;
  letter-spacing: normal;
  background-color: transparent;
}
header nav a:hover, header nav a:focus {
  color: #444;
  background-color: rgba(60, 60, 60, 0.0);
}


main {
  position: relative;
  display: block;
}

/* Section */

section {
  position: relative;
  display: inline-block;
  float: left;
	padding: 4%;
	height: auto;
	width: 92%;
	background-color: #fff;
	text-align: center;
}

/* Footer */

footer {
  position: relative;
  display: inline-block;
  float: left;
  padding: 40px 4%;
  width: 92%;
  height: auto;
  background-color: #eee;
  text-align: center;
  color: #888;
}
footer a {
  color: #888;
}
footer a:hover, footer a:focus {
  color: #fff;
}
footer a, footer p, footer li { 
  display: inline-block; 
  list-style: none;
  margin: 5px;
  font: 300 16px 'Roboto-Light';
}
footer ul { 
  float: top; 
  list-style: none;
  margin: 5px;
}

/* Links */

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* Titles */

p {
  color: #444;
}

h3 {
  color: #444;
}

h4 {
  font-size: 18px;
  font-family: 'Roboto-Light';
  font-weight: 300;
  padding: 10px 10%;
  text-align: left;
}

b, strong {
    font-weight: bold;
}

/* Images */

img {
  max-width: 100%;
  height: auto;
}

/* Article */

article {
  position: relative;
  max-width: 740px;
  margin: 0 auto;
  padding: 40px 6%;
  background-color: transparent;
}
article h2 {
  padding: 0 14% 20px;
  font: 400 36px 'Roboto-Regular';
  color: rgba(0,0,0,0.7);
  letter-spacing: 1px;
}
article h3 {
  font: 500 24px 'Roboto-Medium', Arial, sans-serif;
  text-align: left;
  color: rgba(0,0,0,0.7);
  margin: 0 auto;
  padding: 48px 0 24px;
}
article h4 {
  font: 500 22px 'Roboto-Medium', Arial, sans-serif;
  text-align: left;
  color: rgba(0,0,0,0.7);
  padding: 20px 0 6px;
  margin: 0;
}
article p {
  text-align: left;
  font: 300 20px/1.2em 'Roboto-Light', Arial, sans-serif;
  line-height: 1.8;
  letter-spacing: 0.24px;
  color: #444;
  margin: 0 auto;
  padding: 0 0 32px 0;
}
article ol {
  list-style-type: decimal;
  padding: 20px 32px;
  margin: 0;
}
article ul {
  font: 300 20px/1.2em 'Roboto-Light', Arial, sans-serif;
  list-style-type: disc;
  padding: 0 32px;
  margin: 0;
}
article li {
  text-align: left;
  line-height: 1.8;
  margin: 2px 0;
}
article ul li ul {
  list-style-type: none;
}
article a {
  font-family: 'Roboto-Regular', Arial, sans-serif;
  color: #444;
  border-bottom: 1px solid #444;
}
article a:hover, article a:focus {
  color: #000;
  border: none;
}
article blockquote {
  width: auto;
  float: none;
  display: block;
  border-left: 3px solid #444;
  padding: 20px;
  margin: 0 auto 32px;
  color: #666;
  text-align: left;
  font: 300 20px/1.2em 'Roboto-Light', Arial, sans-serif;
  line-height: 1.8;
  letter-spacing: 0.24px;
  font-style: italic;
}

/* Pages */

.page-bg {
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  width: 100%;
  padding: 0;
}
.img-home { background-image: url("../images/backgrounds/moutain.jpg"); }
.img-projects { background-image: url("../images/backgrounds/sky.jpg"); }
.img-blog { background-image: url("../images/backgrounds/cup.jpg"); }
.img-services { background-image: url("../images/backgrounds/computer.jpg"); }
.img-work { background-image: url("../images/backgrounds/art.jpg"); }
.img-contact { background-image: url("../images/backgrounds/contact.jpg"); }
.img-about { background-image: url("../images/backgrounds/traveler.jpg"); }
.img-legal { background-image: url("../images/backgrounds/book.jpg"); }
.img-thanks { background-image: url("../images/backgrounds/city.jpg"); }
.img-error { background-image: url("../images/backgrounds/graffiti.jpg"); }

.page {
  padding: 40px 0;
  width: 100%;
  background: linear-gradient(to right,rgba(48, 48, 48, 0.6) 0%,rgba(98, 98, 98, 0.4) 100%);
  background-color: rgba(68, 68, 68, 0.6);
}
.page h2 {
  padding: 0 14%;
  font: 700 50px 'Nova-Bold', 'Roboto-Medium', Arial, sans-serif;
  color: #FFF;
  letter-spacing: 10px;
  text-transform: uppercase;
}
.page h3 {
  font: 700 32px 'Nova-Bold', 'Roboto-Medium', Arial, sans-serif;
  color: #fff;
}
.page p {
  max-width: 600px;
  color: rgba(255, 255, 255, 1);
  font: 300 24px 'Roboto-Light', Arial, sans-serif;
  text-align: center;
  line-height: 1.5em;
  margin: 0 auto;
  padding: 32px 32px 24px;
  letter-spacing: 0.24px;
  text-transform: none;
}
.page .button {
  color: #fff;
  border-color: #fff;
}
.page .button:hover, .page .button:focus {
  color: #444;
  background-color: #fff;
  border-color: #fff;
}
.page-bar {
  position: relative;
  display: inline-block;
  height: auto;
  max-width: 600px;
  width: auto;
  padding: 2%;
  margin: 0;
  background-color: transparent;
}
.page-bar a {
  position: relative;
  display: inline-block;
  float: none;
  outline: none;
  height: 100px;
  width: 100px;
  padding: 20px 20px;
  margin: 0;
  background-color: transparent;
  color: transparent;
  font: 400 16px 'Roboto-Regular', Arial, sans-serif;
  border: 1px solid transparent;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  border-radius: 4px;
}
.page-bar a:hover, .page-bar a:focus {
  border-color: transparent;
  color: #fff;
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -o-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}
.page-bar span {
  float: left;
  padding: 0;
  width: 100%;
  text-align: center;
}
.page-bar figure {
  margin: 0 auto 6px;
  width: 80px;
  height: 80px;
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(132, 132, 132, 0.6);
  border-radius: 50%;
}
.icon-search { background-image: url("../images/ui/search.svg"); }
.icon-share { background-image: url("../images/ui/share.svg"); }
.icon-tags { background-image: url("../images/ui/tags.svg"); }
.icon-feed { background-image: url("../images/ui/feed.svg"); }
.icon-add { background-image: url("../images/ui/add.svg"); }
.icon-feedback { background-image: url("../images/ui/feedback.svg"); }
.icon-mail { background-image: url("../images/ui/mail.svg"); }
.icon-phone { background-image: url("../images/ui/phone.svg"); }
.icon-profile { background-image: url("../images/ui/profile.svg"); }
.icon-code { background-image: url("../images/ui/code.svg"); }
.icon-layout { background-image: url("../images/ui/layout.svg"); }
.icon-seo { background-image: url("../images/ui/seo.svg"); }
.icon-colors { background-image: url("../images/ui/colors.svg"); }
.icon-presentation { background-image: url("../images/ui/presentation.svg"); }
.icon-support { background-image: url("../images/ui/support.svg"); }

/* Assistants */

.full-screen {
  padding: 0;
  display: table;
  height: 100%;
  width: 100%;
}
.full-screen-container {
  display: table-cell;
  vertical-align: middle;
}

.hide {
  display: none;
}
.active {
  color: #444;
  background-color: transparent;
}
#menu-button, #close-button {
  display: none;
}

.min-padding {
  padding: 1% 1%;
  width: 98%;
}

.uppercase h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.container-home {
  margin: 0 auto;
  max-width: 800px;
  padding: 40px 20px 30px;
  background-color: rgba(255, 255, 255, 0.0);
}
.container-box {
  max-width: 860px;
  margin: 0 auto;
  padding: 20px 0; 
}

.bg-gradient {
    background: linear-gradient(to right,rgba(114, 114, 114, 1) 0%,rgba(58, 58, 58, 1) 100%);
    background-color: #666;
}

/* Chapter */

.chapter h3 {
  font: 700 32px 'Nova-Bold', 'Roboto-Medium', Arial, sans-serif;
  line-height: 1.4em;
  text-align: center;
  max-width: 740px;
  margin: 0 auto;
  padding: 20px;
  text-rendering: optimizeLegibility;
}
.chapter p {
  font: 300 20px/1.2em 'Roboto-Light', Arial, sans-serif;
  line-height: 1.8;
  letter-spacing: 0.18px;
  text-align: center;
  max-width: 740px;
  margin: 0 auto;
  padding: 12px 2%;
}
.chapter img {
  max-width: 80%;
  height: auto;
  padding: 32px 0;
}
.chapter hr {
  width: 8em;
  clear: both;
  display: block;
  border: none;
  border-top: 3px solid rgba(130, 130, 130, 0.26);
  margin: 0 auto 1.2em;
}
.white h3, .white p {
  color: #fff;
}

/* Home */

.home {
  margin: 0 auto;
  max-width: 800px;
  box-sizing: border-box;
  padding: 40px 60px 0;
  background-color: rgba(255, 255, 255, 0.0);
}
.home h2 {
  margin: 0 auto;
  text-align: center;
  max-width: 500px;
  font: 500 56px 'Nova-Bold', 'Roboto-Medium', Arial, sans-serif;
  color: #fff;
  padding: 0 0 40px 0;
  text-transform: none;
  letter-spacing: 2px;
  line-height: normal;
}
.home h2 span {
  font-family: 'Nova-Regular';
}
.home p {
  margin: 0 auto;
  padding: 10px 0;
  max-width: 540px;
  color: #ddd;
  font: 300 20px/1.2em 'Roboto-Light', Arial, sans-serif;
  line-height: 1.8;
  letter-spacing: 0.24px;
  text-transform: none;
  text-align: center;
  background-color: transparent;

}
.home a {
  font-family: 'Roboto-Medium', Arial, sans-serif;
  color: #fff;
} 
.home a:hover {
  border-bottom: 2px solid #fff;
}

/* Button */

.button {
  position: relative;
  display: inline-block;
  margin: 40px 0;
  padding: 16px 26px 14px;
  width: auto;
  height: auto;
  background-color: transparent;
  color: #555;
  font: 500 20px 'Nova-Bold', Arial, sans-serif;
  border: 3px solid #555;
  border-radius: 0px;
  text-decoration: none;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.button:hover, .button:focus {
  background-color: #444;
  border-color: #444;
  color: #fff;
}

/* Down */

.down {
  position: absolute;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  left: 0;
  right: 0;
  bottom: 64px;
  width: 80px;
  height: 80px;
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.1);;
  background-image: url("../images/ui/down.svg");
  border-radius: 50%;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.down:hover, .down:focus {
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -o-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}

/* Filters */

.grayscale { 
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
}

/* Selection */

::selection {
  color: #fff;
  background: #333;
  text-shadow: none;
}
::-moz-selection {
  color: #fff;
  background: #333;
  text-shadow: none;
}

/* Box Social Networks */

.box {
	position: relative;
	display: inline-block;
  height: 140px;
  width: 140px;
  margin: 0;
	float: none;
	padding: 0;
  text-decoration: none;
  font-size: 16px;
  color: transparent;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 54px;
  background-position: 50% 50%;
  border-radius: 50%;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.box:hover, .box:focus {
  background-position: 50% 38%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  -webkit-transform: scale(1.14);
  -moz-transform: scale(1.14);
  -o-transform: scale(1.14);
  -ms-transform: scale(1.14);
  transform: scale(1.14);
}
.box:active {
  background-color: rgba(255, 255, 255, 0.2);
}
.box span {
  position: absolute;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
	text-align: center;
	font-family: 'Roboto-Medium';
	font-weight: 400;
  width: 80%;
	height: auto;
	padding: 18% 10%;
  left: 0;
	bottom: 0;
	background-color: transparent;
}
.facebook { background-image: url("../images/icons/facebook.svg"); }
.twitter { background-image: url("../images/icons/twitter.svg"); }
.youtube { background-image: url("../images/icons/youtube.svg"); }
.googleplus { background-image: url("../images/icons/googleplus.svg"); }
.grooveshark { background-image: url("../images/icons/grooveshark.svg"); }
.vine { background-image: url("../images/icons/vine.svg"); }
.whatsapp { background-image: url("../images/icons/whatsapp.svg"); }
.instagram { background-image: url("../images/icons/instagram.svg"); }
.flickr { background-image: url("../images/icons/flickr.svg"); }
.skype { background-image: url("../images/icons/skype.svg"); }
.spotify { background-image: url("../images/icons/spotify.svg"); }
.soundcloud { background-image: url("../images/icons/soundcloud.svg"); }
.pinterest { background-image: url("../images/icons/pinterest.svg"); }
.xbox { background-image: url("../images/icons/xbox.svg"); }
.dribbble { background-image: url("../images/icons/dribbble.svg"); }
.foursquare { background-image: url("../images/icons/foursquare.svg"); }
.linkedin { background-image: url("../images/icons/linkedin.svg"); }
.github { background-image: url("../images/icons/github.svg"); }
.deviantart { background-image: url("../images/icons/deviantart.svg"); }
.snapchat { background-image: url("../images/icons/snapchat.svg"); }
.periscope { background-image: url("../images/icons/periscope.svg"); }
.behance { background-image: url("../images/icons/behance.svg"); }
.twitch { background-image: url("../images/icons/twitch.svg"); }
.vimeo { background-image: url("../images/icons/vimeo.svg"); }
.slideshare { background-image: url("../images/icons/slideshare.svg"); }
.aboutme { background-image: url("../images/icons/aboutme.svg"); }
.stumbleupon { background-image: url("../images/icons/stumbleupon.svg"); }
.disqus { background-image: url("../images/icons/disqus.svg"); }
.myspace { background-image: url("../images/icons/myspace.svg"); }
.reddit { background-image: url("../images/icons/reddit.svg"); }
.rdio { background-image: url("../images/icons/rdio.svg"); }
.flipboard { background-image: url("../images/icons/flipboard.svg"); }
.codepen { background-image: url("../images/icons/codepen.svg"); }
.ello { background-image: url("../images/icons/ello.svg"); }
.medium { background-image: url("../images/icons/medium.svg"); }
.tumblr { background-image: url("../images/icons/tumblr.svg"); }
.lattes { background-image: url("../images/icons/lattes.svg"); }

/* Box Projects */

.box-pro {
  position: relative;
  display: inline-block;
  float: none;
  margin: 1.4%;
  padding: 0;
  text-align: center;
  border: 0;
  height: 440px;
  width: 30%;
  background-color: #888;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
}
.box-pro a {
  float: left;
  padding: 110px 0 0 0;
  margin: 0;
  width: 100%;
  height: 330px;
  color: transparent;
  background-color: rgba(68, 68, 68, 0.8);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.box-pro a:hover, .box-pro a:focus {
  /* background-color: rgba(64, 64, 64, 0.88); */
  color: #fff;
  padding: 40px 0 0 0;
  height: 400px;
}
.box-pro h2 {
  padding: 0;
  font: 500 32px 'Roboto-Medium', Arial, sans-serif;
  color: #fff;
}
.box-pro span {
  display: inline-block;
  padding: 32px 48px;
  font: 300 18px 'Roboto-Light', Arial, sans-serif;
  line-height: 1.4em;
}
.box-pro figure {
  margin: 0;
  width: 100%;
  height: 140px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 84px;
  background-color: transparent;
}

.img-inblug { background-image: url('../images/backgrounds/moutain.jpg'); }
.img-favoritess { background-image: url('../images/backgrounds/nyc.jpg'); }
.img-search { background-image: url('../images/backgrounds/projects_search.jpg'); }
.img-feed { background-image: url('../images/backgrounds/project_newspapers.jpg'); }
.img-local { background-image: url('../images/backgrounds/projects_local.jpg'); }
.img-game { background-image: url('../images/backgrounds/projects_game.jpg'); }
.img-education { background-image: url('../images/backgrounds/projects_education.jpg'); }
.img-video { background-image: url('../images/backgrounds/projects_video.png'); }
.img-music { background-image: url('../images/backgrounds/projects_music.jpg'); }
.img-apps { background-image: url('../images/backgrounds/projects_apps.jpg'); }
.img-design { background-image: url('../images/backgrounds/projects_design.jpg'); }
.img-camera { background-image: url("../images/backgrounds/projects_camera.jpg"); }
.img-science { background-image: url("../images/backgrounds/projects_nature.jpeg"); }

.video-icon { background-image: url('../images/projects/vydeon.svg'); }
.isearch-icon { background-image: url('../images/projects/isearch.png'); }
.inblug { background-image: url('../images/projects/inblug.svg'); }
.appdow { background-image: url('../images/projects/appdow.svg'); }
.icon-science { background-image: url('../images/projects/science.svg'); }
.worlfeed { background-image: url('../images/projects/worlfeed.svg'); }
.deslike { background-image: url('../images/projects/deslike.svg'); }
.gamezun { background-image: url('../images/projects/gamezun.svg'); }
.muzyc { background-image: url('../images/projects/muzyc.svg'); }
.camram { background-image: url('../images/projects/camram.svg'); }
.localy { background-image: url('../images/projects/localy.svg'); }
.favoritess-icon { background-image: url('../images/projects/favss.svg'); }
.edu-icon { background-image: url('../images/projects/education.png'); }
.design-icon { background-image: url('../images/projects/design.png'); }

.blue-color:hover, .blue-color:focus { background-color: #2A9BFB; }
.blue-2-color:hover, .blue-2-color:focus { background-color: #5082e5; }
.red-color:hover, .red-color:focus { background-color: #ff5967; }
.aqua-color:hover, .aqua-color:focus { background-color: #33ccbf; }
.green-color:hover, .green-color:focus { background-color: #68bf60; }
.orange-color:hover, .orange-color:focus { background-color: #ff794d; }
.yellow-color:hover, .yellow-color:focus { background-color: #ffaf40; }
.pink-color:hover, .pink-color:focus { background-color: #f279ac; }
.pink-2-color:hover, .pink-2-color:focus { background-color: #ff5a5f; }
.purple-color:hover, .purple-color:focus {  background-color: #7870cc; }
.green-2-color:hover, .green-2-color:focus {  background-color: #49C188; }

/* Box Post */

.box-post {
  position: relative;
  float: none;
  display: inline-block;
  max-width: 360px;
  height: 460px;
  margin: 24px;
  padding: 0 0 20px;
  background-color: #fff;
}
.box-post:hover, .box-post:focus {
  background-color: #fff;
  opacity: 0.88; 
  /* box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1); */
}
.box-post h2 {
  float: left;
  text-align: left;
  width: auto;
  padding: 24px 0;
  margin: 0 auto;
  color: #444;
  font: 700 28px 'Nova-Bold', 'Roboto-Medium', Arial, sans-serif;
  line-height: normal;
}
.box-post p {
  float: left;
  text-align: left;
  width: auto;
  padding: 0;
  margin: 0 auto;
  color: #666;
  font: 300 18px 'Roboto-Light', Arial, sans-serif;;
  line-height: 1.6em;
  background-color: transparent;
}
.box-post .bg {
  float: left;
  width: 100%; 
}
.box-post figure {
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 200px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #444;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.box-post span {
  display: none;
  position: absolute;
  width: auto;
  top: 0px;
  border: 1px solid transparent;
  text-transform: uppercase;
  padding: 5px 8px 4px;
  margin: 10px 10px;
  background-color: rgba(0, 0, 0, 0.2);
  font: 400 12px 'Roboto-light';
  letter-spacing: 1px;
  color: #fff;
}
.box-post span:hover, .box-post span:focus { 
  background-color: #000;
  border-color: #fff;
}

/* Tiles */

.big-tile { height: 320px; }
.large-tile { max-width: 48%; height: 320px; }
.quad-tile { max-width: 31.33%; height: 280px; }

.tile {
  position: relative;
  z-index: 1;
  float: left;
  display: block;
  width: 98%;
  margin: 1%;
  background-color: #444;
  overflow: hidden;
}
.tile:hover figure, .tile:focus figure {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.tile figure {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  -moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  -ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  -o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
}
.tile a {
  position: relative;
  z-index: 3;
  float: none;
  display: table;
  height: 101%;
  width: 91%;
  padding: 5% 5%;
  font-size: 10px;
  text-decoration: none;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.tile a:hover, .tile a:focus {
  background-color: rgba(68, 68, 68, 0.8);
}
.tile h4 {
  font-family: 'Nova-Bold', 'Roboto-Regular', Arial, sans-serif;
  font-size: 46px;
  display: table-cell;
  vertical-align: middle;
  /* position: absolute;
  bottom: 0;
  left: 0;
  right: 0;*/
  padding: 40px 0;
  margin: 0;
  color: #fff;
  text-transform: none;
  text-align: center;
  letter-spacing: normal;
  background-color: transparent;
  z-index: 3;
  /* text-shadow: 1px 1px 6px rgba(0,0,0,0.1); */
  -webkit-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  -moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  -ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  -o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
}
.tile span {
  display: none;
  position: absolute;
  top: 24px;
  left: 32px;
  right: 32px;
  color: #fff;
  font: 500 16px 'Roboto-Mono-Medium', Arial, sans-serif;
  text-align: right;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 3;
  /* text-shadow: 1px 1px 1px rgba(0,0,0,0.1); */
}
.tile-bg { 
  background: linear-gradient(45deg, rgba(40,40,40,0.9) 0%,rgba(40,40,40,0.4) 100%);
}

.bg-red {
  background: -moz-linear-gradient(-45deg, rgba(117,0,0,0.84) 0%, rgba(255,0,0,0.84) 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(117,0,0,0.84)), color-stop(100%,rgba(255,0,0,0.84)));
  background: -webkit-linear-gradient(-45deg, rgba(117,0,0,0.84) 0%,rgba(255,0,0,0.84) 100%);
  background: -o-linear-gradient(-45deg, rgba(117,0,0,0.84) 0%,rgba(255,0,0,0.84) 100%);
  background: -ms-linear-gradient(-45deg, rgba(117,0,0,0.84) 0%,rgba(255,0,0,0.84) 100%);
  background: linear-gradient(135deg, rgba(117,0,0,0.84) 0%,rgba(255,0,0,0.84) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6750000', endColorstr='#d6ff0000',GradientType=1 );
}
.bg-blue {
  background: -moz-linear-gradient(-45deg, rgba(3,0,224,0.84) 0%, rgba(0,171,201,0.84) 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(3,0,224,0.84)), color-stop(100%,rgba(0,171,201,0.84)));
  background: -webkit-linear-gradient(-45deg, rgba(3,0,224,0.84) 0%,rgba(0,171,201,0.84) 100%);
  background: -o-linear-gradient(-45deg, rgba(3,0,224,0.84) 0%,rgba(0,171,201,0.84) 100%);
  background: -ms-linear-gradient(-45deg, rgba(3,0,224,0.84) 0%,rgba(0,171,201,0.84) 100%);
  background: linear-gradient(135deg, rgba(3,0,224,0.84) 0%,rgba(0,171,201,0.84) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d60300e0', endColorstr='#d600abc9',GradientType=1 );
}
.bg-green {
  background: -moz-linear-gradient(-45deg, rgba(25,117,0,0.84) 0%, rgba(15,226,0,0.84) 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(25,117,0,0.84)), color-stop(100%,rgba(15,226,0,0.84)));
  background: -webkit-linear-gradient(-45deg, rgba(25,117,0,0.84) 0%,rgba(15,226,0,0.84) 100%);
  background: -o-linear-gradient(-45deg, rgba(25,117,0,0.84) 0%,rgba(15,226,0,0.84) 100%);
  background: -ms-linear-gradient(-45deg, rgba(25,117,0,0.84) 0%,rgba(15,226,0,0.84) 100%);
  background: linear-gradient(135deg, rgba(25,117,0,0.84) 0%,rgba(15,226,0,0.84) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6197500', endColorstr='#d60fe200',GradientType=1 );
}
.bg-yellow {
  background: -moz-linear-gradient(-45deg, rgba(229,84,0,0.84) 0%, rgba(255,216,0,0.84) 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(229,84,0,0.84)), color-stop(100%,rgba(255,216,0,0.84)));
  background: -webkit-linear-gradient(-45deg, rgba(229,84,0,0.84) 0%,rgba(255,216,0,0.84) 100%);
  background: -o-linear-gradient(-45deg, rgba(229,84,0,0.84) 0%,rgba(255,216,0,0.84) 100%);
  background: -ms-linear-gradient(-45deg, rgba(229,84,0,0.84) 0%,rgba(255,216,0,0.84) 100%);
  background: linear-gradient(135deg, rgba(229,84,0,0.84) 0%,rgba(255,216,0,0.84) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6e55400', endColorstr='#d6ffd800',GradientType=1 );
}
.bg-orange {
  background: -moz-linear-gradient(-45deg, rgba(244,70,26,0.88) 0%, rgba(255,159,25,0.88) 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(244,70,26,0.88)), color-stop(100%,rgba(255,159,25,0.88)));
  background: -webkit-linear-gradient(-45deg, rgba(244,70,26,0.88) 0%,rgba(255,159,25,0.88) 100%);
  background: -o-linear-gradient(-45deg, rgba(244,70,26,0.88) 0%,rgba(255,159,25,0.88) 100%);
  background: -ms-linear-gradient(-45deg, rgba(244,70,26,0.88) 0%,rgba(255,159,25,0.88) 100%);
  background: linear-gradient(135deg, rgba(244,70,26,0.88) 0%,rgba(255,159,25,0.88) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f4461a', endColorstr='#e0ff9f19',GradientType=1 );
}
.bg-purple {
  background: -moz-linear-gradient(-45deg, rgba(57,0,191,0.84) 0%, rgba(233,0,255,0.84) 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(57,0,191,0.84)), color-stop(100%,rgba(233,0,255,0.84)));
  background: -webkit-linear-gradient(-45deg, rgba(57,0,191,0.84) 0%,rgba(233,0,255,0.84) 100%);
  background: -o-linear-gradient(-45deg, rgba(57,0,191,0.84) 0%,rgba(233,0,255,0.84) 100%);
  background: -ms-linear-gradient(-45deg, rgba(57,0,191,0.84) 0%,rgba(233,0,255,0.84) 100%);
  background: linear-gradient(135deg, rgba(57,0,191,0.84) 0%,rgba(233,0,255,0.84) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d63900bf', endColorstr='#d6e900ff',GradientType=1 );
}
.bg-pink {
  background: -moz-linear-gradient(-45deg, rgba(255,0,25,0.84) 0%, rgba(255,28,175,0.84) 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,0,25,0.84)), color-stop(100%,rgba(255,28,175,0.84)));
  background: -webkit-linear-gradient(-45deg, rgba(255,0,25,0.84) 0%,rgba(255,28,175,0.84) 100%);
  background: -o-linear-gradient(-45deg, rgba(255,0,25,0.84) 0%,rgba(255,28,175,0.84) 100%);
  background: -ms-linear-gradient(-45deg, rgba(255,0,25,0.84) 0%,rgba(255,28,175,0.84) 100%);
  background: linear-gradient(135deg, rgba(255,0,25,0.84) 0%,rgba(255,28,175,0.84) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6ff0019', endColorstr='#d6ff1caf',GradientType=1 );
}
.bg-sea {
  background: -moz-linear-gradient(-45deg, rgba(21,196,53,0.84) 0%, rgba(19,165,173,0.82) 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(21,196,53,0.82)), color-stop(100%,rgba(19,165,173,0.82)));
  background: -webkit-linear-gradient(-45deg, rgba(21,196,53,0.84) 0%,rgba(19,165,173,0.82) 100%);
  background: -o-linear-gradient(-45deg, rgba(21,196,53,0.82) 0%,rgba(19,165,173,0.82) 100%);
  background: -ms-linear-gradient(-45deg, rgba(21,196,53,0.82) 0%,rgba(19,165,173,0.82) 100%);
  background: linear-gradient(135deg, rgba(21,196,53,0.82) 0%,rgba(19,165,173,0.82) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e015c435', endColorstr='#e013a5ad',GradientType=1 );
}
.bg-aqua {
  background: rgb(0,216,184);
  background: -moz-linear-gradient(-45deg,  rgba(0,216,184,0.84) 0%, rgba(0,187,255,0.84) 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,216,184,0.84)), color-stop(100%,rgba(0,187,255,1)));
  background: -webkit-linear-gradient(-45deg,  rgba(0,216,184,0.84) 0%,rgba(0,187,255,0.84) 100%);
  background: -o-linear-gradient(-45deg,  rgba(0,216,184,0.84) 0%,rgba(0,187,255,0.84) 100%);
  background: -ms-linear-gradient(-45deg,  rgba(0,216,184,0.84) 0%,rgba(0,187,255,0.84) 100%);
  background: linear-gradient(135deg,  rgba(0,216,184,0.84) 0%,rgba(0,187,255,0.84) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d8b8', endColorstr='#00bbff',GradientType=1 );
}

/* Contact Form */

form {
  display: inline-block;
  max-width: 720px;
  width: 100%;
  height: auto;
  margin: 10px auto 20px;
  background-color: transparent;
}
form input {
  width: 48%;
  color: #444;
}
#subject {
  width: 98%;
}
form textarea {
  width: 98%;
  height: 160px;
  resize: none;
}
form input, form textarea {
  float: left;
  padding: 10px 2%;
  margin: 1%;
  font: 400 18px 'Roboto-Regular', Arial, sans-serif;
  background-color: transparent;
  border: 3px solid #ddd;
  box-sizing: border-box;
  border-radius: 0;
  color: #555;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
form input:hover, form textarea:hover { 
  background-color: #ddd;
}

form input:focus,  form input:active,
form textarea:focus,  form textarea:active {
  background-color: transparent;
  border-color: #555;
  color: #444;
  outline: none;
  box-shadow: 0;
  transition: none;
}
input[type="submit"] {
  float: none;
  display: inline-block;
  cursor: pointer;
  width: 100px;
  height: auto;
  padding: 16px 25px 14px;
  margin: 2% auto 0;
  background-color: transparent;
  border: 3px solid #666;
  border-radius: 0;
  color: #666;
  font: 500 20px 'Nova-Bold', Arial, sans-serif;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}
input[type="submit"]:hover, 
input[type="submit"]:focus {
  color: #fff;
  background-color: #444;
  border-color: #444;
}
input[type="submit"]:active {
  background-color: #fff;
  color: #555;
}

::-webkit-input-placeholder { color: #bbb; }
:-moz-placeholder { color: #bbb; }
::-moz-placeholder { color: #bbb; }
:-ms-input-placeholder { color: #bbb; }

/* Skills */

.chart {
  position: relative;
  display: inline-block;
  margin: 10px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-family: 'Nova-Bold';
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}

/* Media Queries */

@media screen and (max-width: 1400px) {
  
  body {
    margin: 60px 0 0 0;
  }
  header {
    width: auto;
    height: 60px;
    right: 0;
    left: 0;
  }
  header a {
    float: left;
    color: #444;
    padding: 23px 20px 18px;
  }
  header h1, header h1 span { 
    font-size: 26px;
    letter-spacing: 4px;
  }
  header figure {
    display: none;
  }
  .hide {
    display: block;
  }
  .down { 
    bottom: 128px;
  }
  section {
    padding: 64px 4%;
  } 

  /* Navigation Bar (Menu Mobile) */
  header nav {
    position: fixed;
    z-index: 99999;
    background-color: #fff;
    width: 240px;
    height: 100%;
    overflow-x: auto;
    padding: 40px 0;
    font-size: 1.15em;
    -webkit-transform: translate3d(-240px,0,0);
    transform: translate3d(-240px,0,0);
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  }
  header nav a {
    text-align: left;
    width: 64%;
    padding: 0 18%;
    line-height: 52px;
    padding-top: 2px;
    font-size: 1.2em;
  }
  header nav a:hover {
    background-color: #eee;
  }

  /* Menu Button */
  #menu-button {
    display: block;
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0 20px;
    width: 68px;
    height: 60px;
    border: none;
    border-radius: 0;
    outline: none;
    background: transparent;
  }
  #menu-button:hover {
    opacity: 0.6;
  }
  #menu-button:before {
    content: "";
    display: block;
    width: 28px;
    padding: 8px 0 7px;
    border: solid #444;
    border-width: 3px 0;
  }
  #menu-button:after {
    content: "";
    position: absolute;
    display: block;
    top: 29px;
    height: 3px;
    width: 28px;
    background: #444;
  }

  /* Close Button */
  #close-button {
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    right: 1.2em;
    top: 1em;
    overflow: hidden;
    text-indent: 1em;
    font-size: 0.75em;
    border: none;
    background-color: transparent;
    color: transparent;
  }
  #close-button::before,
  #close-button::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    top: 0;
    left: 50%;
    background: #ddd;
  }
  #close-button::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #close-button::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  /* Show Menu Animations */
  .show-menu nav {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  }
  .show-menu .layer-menu {
    opacity: 1;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  /* Menu Layer */
  .layer-menu {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    content: '';
    opacity: 0;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    -webkit-transition: opacity 0.4s, -webkit-transform 0s 0.4s;
    transition: opacity 0.4s, transform 0s 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  }
}

@media screen and (max-width: 1000px) { 

  .box-pro {
    width: 46%;
  }

}

@media screen and (max-width: 800px) { 

  .tile {
    margin: 10px 0 0;
    width: 100%;
  }
  .large-tile {
    max-width: 100%;
    height: 260px;
  }

}

@media screen and (max-width: 500px) {
  
  header h1, header h1 span { 
    letter-spacing: 1px;
  }
  section {
    width: 96%;
    padding: 64px 2%;
  }

  .page h2 {
    padding: 20px 0 0 0;
    font-size: 42px;
  }
  .page p {
    font-size: 20px;
  }
  .page-bar a {
    color: #fff;
    height: 120px;
  }

  .box {
    background-size: 42px;
    background-position: 50%;
    height: 86px;
    width: 86px;
    margin: 0;
  }
  .box span {
    display: none;
  }
  .box:hover, .box:focus {
    background-position: 50%;
  }
  .box-post {
    height: auto;
  }
  .box-pro {
    width: 100%;
    margin: 0;
  }
  .box-pro span {
    display: none;
  }
  .container-home {
    margin: 0 10px;
    padding: 10px 0;
  }
  .min-padding {
    padding: 0;
    width: 100%;
  }
  .chapter h3 {
    font-size: 26px;
  }
  .home {
    padding: 20px 32px 0;
  }
  .down {
    bottom: 0;
    position: relative;
    margin: 40px;
  }
  form {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
  }
  form input, form textarea { 
    margin: 2% 1%;
    width: 98%; 
    padding-left: 4%; 
    padding-right: 4%; 
  } 
  form textarea {
  height: 200px;
}

/* Print Styles */

@media print {
  body {
    padding: 0;
    margin: 0;
  }
  header, nav {
    display: none;
  }
  *, *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a, a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after, a[href^="javascript:"]:after { 
    content: ""; 
  }
  pre, blockquote { 
    border: 1px solid #999; 
    page-break-inside: avoid; 
  }
  thead { 
    display: table-header-group; 
  }
  tr, img { 
    page-break-inside: avoid; 
  }
  img { 
    max-width: 100% !important; 
  }
  p, h2, h3 { 
    orphans: 3; 
    widows: 3; 
  }
  h2, h3 { 
    page-break-after: avoid; 
  }
}