/* FONTS */

@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/Roboto-Light.ttf') format("opentype");
  font-weight: 300;
  }
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.ttf') format("opentype");
  font-weight: 400;
  }
@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/Roboto-Medium.ttf') format("opentype");
  font-weight: 500;
  }
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto-Bold.ttf') format("opentype");
  font-weight: 700;
 }

/* MEDIA QUERIES */

@media all and (min-width: 2000px) {

  body {
    margin: 0 0 0 240px;
  }
  header {
    width: 240px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  header h1 a {
    font-size: 40px;
    float: left;
    padding: 5px 5px;
    font-weight: 700;
    text-decoration: none;
    color: #aaa;
    line-height: 140%;
    letter-spacing: 6px;
    border: 0;
  }
  header h1 a:hover, header h1 a:focus {
    color: #fff;
    background-color: #3C3C3C;
  }
  header h1 a span {
    font-weight: 300;
    font-family: 'Roboto-Light', sans-serif;
    font-size: 53px;
  }
  section p {
    font-size: 30px;
    font-family: Roboto-Light;
    font-weight: lighter;
    padding: 10px 18%;
    color: #999;
  }
  a.box {
    background-size: 80px;
    background-position: 50% 42%;
    height:160px;
    width: 160px;
    margin: 4px;
  }
  a.box-post { width: 17.2%; }
  .active-page-title { font-size: 86px; }
  .container-box { padding: 60px; }
}
@media all and (max-width: 2199px) {
  a.box-post { 
    width: 22.2%; 
  }
}
@media all and (max-width: 1999px) {

  body {
    margin: 0 0 0 240px;
  }
  header {
    width: 240px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  header h1 a {
    font-size: 26px;
    float: left;
    padding: 15px 20px 5px 20px;
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #aaa;
    line-height: 140%;
    letter-spacing: 6px;
    border: 0;
  }
  header h1 a:hover, header h1 a:focus {
    color: #fff;
    background-color: #3C3C3C;
  }
  header h1 a span {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    font-size: 44px;
  }
  section p {
    font-size: 22px;
    font-family: 'Roboto-Light', sans-serif;
    font-weight: lighter;
    padding: 10px 14%;
    color: #999;
  }
  a.box  {
    background-size: 60px;
    background-position: 50% 42%;
    height: 132px;
    width: 132px;
    margin: 4px;
  }
  .container-box { padding: 20px 40px; }
  .active-page-title { font-size: 54px; }
}
@media all and (max-width: 1699px) {
  a.box-post { 
    width: 30.4%; 
  }
}
@media all and (max-width: 1200px) {
  a.box-post { 
    width: 47%; 
  }
}
@media all and (max-width: 900px) {

  body {
    margin: 60px 0 0 0;
  }
  header {
    width: auto;
    height: 60px;
    position: fixed;
    right: 0;
  }
  header h1 a, header h1 a span {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 34px;
    padding-top: 6px;
    padding-bottom: 7px;
    letter-spacing: 2px;
  }
  section p {
  font-size: 18px;
  padding: 10px 12%;
  }
  a.box {
    background-size: 40px;
    background-position: 50% 38%;
    height: 86px;
    width: 86px;
    margin: 2px;
  }
  #photo-logo {
    display: none;
  }
  .container-box { float none; padding: 15px 0; }
  .active-page-title { font-size: 36px; }

  /*
  NAV
  */
  header nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 240px;
    background: #fff;
    overflow-x: auto;
    z-index: 2;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
  header ul.list-auto {
    padding: 0;
  }
  header ul.list-auto li {
    width: 100%;
  }
  header li a {
    padding: 15px 10px;
  }
  header li a:hover {
    background-color: #ccc;
  }
  .control-nav {
    position: absolute;
    right: 20px;
    top: 20px;
    display: block;
    width: 26px;
    padding: 7px 0;
    border: solid #fff;
    border-width: 2px 0;
    z-index: 2;
    cursor: pointer;
    background-color: transparent;
  }
  .control-nav:before {
    content: "";
    display: block;
    height: 2px;
    background: #fff;
  }
  .control-nav-close {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    z-index: 1;
    background: rgba(0,0,0,0.3);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
  input#control-nav {
    display: block;
  }
  input#control-nav:focus ~ .control-nav {
    border-color: #000;
    box-shadow: 0px 0px 9px rgba(0,0,0,0.3);
  }
  input#control-nav:focus ~ .control-nav:before {
    background: #000;
  }
  input#control-nav:checked ~ nav,
  input#control-nav:checked ~ .control-nav-close {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@media all and (max-width: 580px) {

  a.box-post { width: 97.4%; }

  header h1 a { font-size: 24px; padding: 15px 10px 12px 0px; }
  header h1 a span { font-size: 24px; padding: 15px 0px 12px 20px; }

}
@media print {
    nav {
      display: none;
    }

    *, *:before, *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after, a[href^="javascript:"]:after { 
      content: ""; 
    }
    pre, blockquote { 
      border: 1px solid #999; 
      page-break-inside: avoid; 
    }
    thead { 
      display: table-header-group; 
    }
    tr,img { 
      page-break-inside: avoid; 
    }
    img { 
      max-width: 100% !important; 
    }
    p, h2, h3 { 
      orphans: 3; 
      widows: 3; 
    }
    h2, h3 { 
      page-break-after: avoid; 
    }
}

/* DEFAULT STYLES */

* {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: transparent;
}
html {
  background-color: #eee;
}
body {
	font-family: 'Roboto-Regular', sans-serif;
	color: #777;
}
header {
	background-color: #444;
	z-index: 2;
	text-align: center;
}
section, footer {
	position: relative;
	float: left;
	padding: 2% 2%;
	height: auto;
	width: 96%;
	background-color: #fff;
	text-align: center;
}
a {
  color: #888;
  font-family: 'Roboto-Medium', sans-serif;
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
a:hover, a:focus {
  color: #333;
}
a#copyright {
  position: absolute;
  bottom: 10px;
  left: 0;
  height: auto;
  width: 100%;
  font-size: 14px;
  font-family: 'Roboto-Light', sans-serif;
  font-weight: 300;
  color: #777;
}
a#copyright:hover, a#copyright:focus {
  color: #fff;
}
::selection {
  color: #fff;
  background: #555;
  text-shadow: none;
}
::-moz-selection {
  color: #fff;
  background: #555;
  text-shadow: none;
}

/* HEADER NAV */

.nav-list, .nav-list li {
  width: 100%;
  float: left;
  display: block;
  position: relative;
}
header nav {
  float: right;
  background-color: #444;
}
header ul {
  padding: 32px 0;
  background-color: transparent;
  font-size: 1.0em;
}
header li a {
  display: block;
  width: 100%;
  padding: 0;
  color: #aaa;
  line-height: 46px;
  font-family: 'Roboto-Light', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}
header li a:hover, header li a:focus {
  color: #fff;
  background-color: #3C3C3C;
}
input#control-nav {
  visibility: hidden;
  position: absolute;
  left: -9999px;
  opacity: 0;
}
nav .active-page {
  color: #fff;
  background-color: rgb(82, 82, 82);
  font-family: 'Roboto-Regular', sans-serif;
}

/*
TEXT
*/

h3 {
	font-size: 28px;
	font-family: 'Roboto-Regular';
	font-weight: 300;
	padding: 20px 10%;
  text-align: justify;
}
h4 {
  font-size: 18px;
  font-family: 'Roboto-Light';
  font-weight: 300;
  padding: 10px 10%;
  text-align: left;
}
h6 {
	font: 12px 'Roboto-Regular', sans-serif;
  font-weight: 300;
  color: #888;
}
h2 span {
  font-weight: bold;
  font-style: italic;
}
.active-page-title {
  padding: 10px 14%;
  color: #999;
  text-transform: uppercase;
  font-family: 'Roboto-Regular';
  font-weight: 300;
}
.page-description {
  font-size: 16px;
  color: #C2C2C2;
}
.page-description-bold {
  font-family: 'Roboto-Medium';
  font-weight: 500;
}

/* CONTAINERS */
.toolbar {
  position: relative;
  float: left;
  height: auto;
  width: 96%;
  padding: 0 2% 2% 2%;
  background-color: #fff;
  text-align: center;
}
.container-home {
  max-width: 900px;
  margin: 20px auto;
}
.container-box {
  max-width: 1200px;
  margin: 0 auto;
}
.container-form {
  position: relative;
  display: inline-block;
  float: none;
  max-width: 500px;
  height: auto;
  background-color: #fff;
  padding: 40px 40px 10px 40px;
  margin: 0;
}
.bg-gray {
  background-color: #eee;
}
.bg-img-full {
  background-image: url('../images/full.jpg');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.img-section {
  max-width: 100%;
  height: auto;
  padding: 20px 0;
}

/* SPINNER ANIMATION */

.spinner {
  width: 140px;
  height: 140px;
  background-color: #fff;
  margin: 100px auto;
  -webkit-animation: rotateplane 4.2s infinite ease-in-out;
  animation: rotateplane 4.2s infinite ease-in-out;
}
@keyframes rotateplane {
  0% {  transform: perspective(120px) rotateX(0deg) rotateY(0deg); -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) }
  50% { transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) }
  100% { transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); }
}
@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

/* BOX SOCIAL */

a.box {
	position: relative;
	display: inline-block;
	float: none;
	padding: 2px;
  text-decoration: none;
  color: #999;
  background-color: #fff;
  background-repeat: no-repeat;
  transition: none;
}
a.box:hover, a.box:focus {
  background-color: #777;
  color: #fff;
}
.box span {
  position: absolute;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
	text-align: left;
	font-family: 'Roboto-Regular', sans-serif;
	font-weight: 400;
  width: 80%;
	height: auto;
	padding: 5% 10%;
  left: 0;
	bottom: 0;
	background-color: transparent;
}

/* BOX PROJECT */

a.box-pro {
  position: relative;
  display: inline-block;
  float: none;
  margin: 6px 4px;
  padding: 160px 0 0 0;
  text-align: center;
  border: 0;
  color: #888;
  height: auto;
  width: 250px !important;
  background-repeat: no-repeat;
  background-position: 50% 20%;
  background-size: 90px;
  background-color: #fff;
  transition: none;
}
a.box-pro:hover, a.box-pro:focus {
  background-color: #777;
  color: #fff;
}
a.box-pro h2 {
  height: auto;
  padding: 0;
  width: 100%;
  font: 500 30px 'Roboto-Medium', sans-serif;
}
a.box-pro h3 {
  height: auto;
  text-align: center;
  padding: 25px;
  font: 200 16px 'Roboto-Light', Arial, sans-serif;
}

/* BOX POST */

a.box-post {
  position: relative;
  display: inline-block;
  float: left;
  height: auto;
  margin: 1.4%;
  padding: 0 0 15px 0;
  background-color: #fff;
  border-bottom: 0;
}
a.box-post:hover, a.box-post:focus {
  background-color: transparent;
}
a.box-post h2 {
  width: 90%;
  padding: 0 5%;
  color: #555;
  font: 400 22px 'Roboto-Regular', sans-serif;
  text-align: center;
}
a.box-post h3 {
  padding: 8px 25px 6px 25px;
  color: #ccc;
  font: 500 15px 'Roboto-Regular', Arial, sans-serif;
  text-align: center;
}
a.box-post .bg {
  float: left;
  width: 100%;
  margin: 0 0 15px 0;
}
a.box-post .img {
  float: left;
  width: 100%;
  height: 180px;
  background: no-repeat center;
}

/* BUTTON */

a.button {
  position: relative;
  display: inline-block;
  float: none;
  height: auto;
  width: auto;
  margin: 0 1.4%;
  padding: 9px 13px 9px 13px;
  background-color: #fff;
  border-radius: 30px;
  border: 1px solid #fff;
  color: #aaa;
  font-family: 'Roboto-Regular';
  font-weight: 500;
  font-size: 0.9em;
}
a.button:hover, a.button:focus {
  background-color: transparent;
  border: 1px solid #ccc;
  color: #999;
}
a.button figure {
  float: left;
  margin-right: 10px;
  margin-top: 1px;
  width: 18px;
  height: 18px;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

/*
BUTTON 2
*/

a.button-2 {
  position: relative;
  float: left;
  height: auto;
  width: auto;
  padding: 6px 16px;
  margin: 6px;
  text-decoration: none;
  border-radius: 20px;
  color: #fff;
  background-color: #666;
  border: 1px solid #fff;
  font: 16px 'Roboto-Light';
  border: 0;
}
a.button-2:hover, a.button-2:focus {
  color: #555;
  background-color: #fff;
  border: 1px solid #666;
}


/* FORM */

.form-input {
  width: 100%;
  padding: 11px 13px 11px 15px;
  margin-bottom: 10px;
  color: #666;
  font-family: 'Roboto-Light', Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
.form-input:focus, .form-input:active {
  background: #eee;
  border: 1px solid #eee;
  color: #666;
  outline: none;
  box-shadow: 0;
}
textarea {
  width: 100%;
  height: 150px;
  line-height: 150%;
  resize: vertical;
}
input:hover, textarea:hover,
input:focus, textarea:focus {
  /*background-color: white;*/
}
#form-submit-button {
  float: none;
  display: inline-block;
  width: 100px;
  border: 1px solid #888;
  cursor: pointer;
  background-color: #888;
  color: white;
  font-size: 16px;
  padding-top: 7px;
  padding-bottom: 8px;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  font-family: 'Roboto-Regular', Arial, sans-serif;
  font-weight: 400;
  margin: 0px auto 10px auto;
  border-radius: 30px;
}
#form-submit-button:hover, #form-submit-button:focus {
  background-color: #fff;
  color: #888;
}
#form-submit-button:active {
  background-color: #888;
  color: #fff;
}






svg:hover #twitter {
  fill: yellow;
}
